/*  your css code here. If applicable */
* {
    background-color: #f8f8f8;
    align-content: center;
}

.book-library {
    background-color: #ffffff;
    width: 75%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Box shadow added */
	/* align-content:center; */

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.book-author {
    color: #777777;
	padding:10px;
}

.book-price {
    text-align: center;
    background-color: #2ecc71;
	margin:10px;
}
.book-title{
	padding:10px;
}